/* ============ Extra small device start ====== */
@media screen and (max-width: 575.99px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 12px;
    }
    /* ========= navabar ====== */
    #navbar {
        padding-top: 30px;
    }
    .menu{
        display: none;
    }
    .toggle_bar{
        display: block;
    }
    /* ====== banner ====== */
    #banner {
        padding-bottom: 100px;
        height: 100vh;
    }
    .banner_image {
        display: none;
    }
    .banner_content h5 {
        font-size: 16px;
        letter-spacing: unset;
    }
    .banner_content h1 {
        font-size: 52px;
        line-height: normal;
        margin-top: 30px;
    }
    .banner_content p {
        max-width: 350px;
    }
    .banner_btn {
        margin-top: 50px;
        column-gap: 16px;
    }
    .banner_btn a:first-child {
        padding: 14px 20px;
        font-size: 14px;
    }
    .banner_btn a:last-child {
        font-size: 14px;
    }
    .banner_btn a:last-child i {
        padding-left: 10px;
    }
    .banner_btn a:last-child:hover i {
        padding-left: 15px;
    }
}
/* ============ Extra small device end ====== */


/* ============ small device start ====== */
@media (min-width: 576px) and (max-width: 767.99px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 16px;
    }  
    /* ========= navabar ====== */
    #navbar {
        padding-top: 30px;
    }
    .menu{
        display: none;
    }
    .toggle_bar{
        display: block;
    }
    /* ====== banner ====== */
    #banner {
        padding-bottom: 100px;
    }
    .banner_image {
        display: none;
    }
}
/* ============ small device end ====== */


/* ============ medium device start ====== */
@media (min-width: 768px) and (max-width: 991.99px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 16px;
    }  
    /* ========= navabar ====== */
    #navbar {
        padding-top: 30px;
    }
    .menu{
        display: none;
    }
    .toggle_bar{
        display: block;
    }
    /* ====== banner ====== */
    #banner {
        padding-bottom: 100px;
    }
    .banner_wrapper {
        gap: 50px;
    }
    .banner_content {
        min-width: 350px;
    }
    .banner_content h1 {
        font-size: 50px;
        line-height: normal;
    }
    .banner_image {
        width: 350px;
        height: 350px;
    }
    .banner_btn {
        column-gap: 20px;
    }
    .banner_btn a:first-child {
        padding: 15px 20px;
        font-size: 14px;
    }
    .banner_btn a:last-child {
        font-size: 14px;
    }
}
/* ============ medium device end ====== */


/* ============ large device start ====== */
@media (min-width: 992px) and (max-width: 1199.99px) {
    
}
/* ============ large device end ====== */


/* ============ extra large device start ====== */
@media (min-width: 1200px) and (max-width: 1399.99px) {
    
}
/* ============ extra large device end ====== */


/* ============ Extra extra large device start ====== */
@media (min-width: 1400px) {
    
}
/* ============ Extra extra large device end ====== */
